html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-container {
  border: 3px solid red;
  background-color: white;
  padding: 3rem;
}

.form-container .UserInfoInputs div {
  margin: 2rem;
}

.form-container button {
  margin: 1rem 2rem;
}
